{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% translate 'Восстановление пароля' %}
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <h2>{% translate 'Ссылка для восстановления пароля отправлена на вашу почту.' %}</h2>
        <a href="{% url 'users:login' %}" class="btn btn-primary mt-3">{% translate 'Вернуться к входу' %}</a>
      </div>
    </div>
  </div>
{% endblock %}
