<form method="post" {% if fileform == "true" %} enctype="multipart/form-data" {% endif %}>
    {% csrf_token %}
    {% if title %}
    <h1> {{ title }} </h1>
    {% endif %}
    {% if image %}
      <div style="justify-content: space-around; display:flex">
        <img src={{image}} class="img-fluid rounded" style="width: 300px; height: 300px; object-fit: contain;" alt="Стикер">
      </div>
    {% endif %}
    {% for field in form %}
      <label class="form-label w-100 mb-4">
        <p class="mb-2">
          {{ field.label_tag }}
        </p>
        <input
          type="{{ field.field.widget.input_type }}"
          name="{{ field.name }}"
          id="{{ field.id_for_label }}"
          class="form-control text-left"
          {% if field.value %}
            value="{{field.value}}"
          {% endif %}
          placeholder="{% spaceless %}
            {% if field.help_text %}
              {% if field.name != 'new_password1' %}
                {{ field.help_text }}
              {% endif %}
            {% elif field.name == 'username' %}
              Введите имя пользователя или email
            {% elif field.name == 'password' or field.name == 'new_password1'%}
              Введите пароль
            {% elif field.name == 'email' %}
              Введите email
            {% elif field.name == 'first_name' %}
              Введите имя
            {% elif field.name == 'last_name' %}
              Введите фамилию
            {% endif %}
          {% endspaceless %}"
        >
      </label>
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% if submit_btn_label %}
      <button type="submit" class="btn btn-primary w-100">{{ submit_btn_label }}</button>
    {% endif %}
  </form>
  
  {% if messages %}
    <div class="messages mt-4 text-center">
      {% for message in messages %}
        <div class="alert
          {% if message.tags %}
            {{ message.tags }}
          {% else %}
            alert-info
          {% endif %}"
          role="alert">{{ message|safe }}</div>
      {% endfor %}
    </div>
  {% endif %}
  