{% extends 'base.html' %}
{% load i18n %}
{% block title %}
  Профиль
{% endblock %}

{% block content %}
  <h2>Профиль</h2>
  {% if image %}
    <img src="{{ image.url }}" alt="..." width="100" />
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ profile_form.as_p }}
    <button class="btn btn-primary" type="submit">Сохранить</button>
  </form>
  <p class="mt-3">
    <form method="post" action="{% url 'users:logout' %}" class="inline">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger link-button">Выйти из аккаунта</button>
    </form>
  </p>
{% endblock %}
